/* Variáveis do css */
:root {
    --vermelho: #E50914;
    --preto: #141414;
}

/* Reset do estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do cabeçalho */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.netflix-logo img {
    margin: 0;
    padding: 0;
    width: 200px;
    height: auto;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 18px;
}

header nav a:hover {
    color: #fff;
}

/* Estilo da série principal */
.serie-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50),rgba(0, 0, 0, .50) 100%), url("/img/the-mentalist-capa.jpg");
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.serie-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}